:root {
    --my-primary: #00B7FF;
}
p {margin: 0}

.w-fit-content {
    width: fit-content;
}

.bg-my-primary{
    background-color: var(--my-primary) !important;
}

.btn-my-primary{
    background-color: var(--my-primary) !important;
    border-color: var(--my-primary) !important;
    color: #FFF !important;
}

.border-my-primary {
    border-color: var(--my-primary) !important;
}

.text-my-primary {
    color: var(--my-primary) !important;
}

body {
    font-family: 'Quicksand', sans-serif !important;
}

.avatar{

}
.avatar img{
    width:45px;
    height:45px;
    background-position: center center;
    background-repeat: no-repeat;
}

.match-h-parent{
    height: max-content;
}

.table-hover tbody tr:hover {
    background-color: #00B7FF !important;
}